<section id="contactForm">
    <div class="col-sm-8 col-md-8 formHeader" style="border-top: 1px solid #D0D1D4; padding: 0px; ">
            <h3  style="margin: 20px 0px; font-size: 25px;">Get the repository now</h3>
    </div>
    <div id="webForm">
        <form action="" class="d-flex  col-sm-8" style="padding: 0px;">
            <input class="col" type="text" name="" id="1" placeholder="Full Name">
            <input class="col" type="text" name="" id="2" placeholder="Phone">
            <input class="col" type="text" name="" id="3" placeholder="Email">
            <button  class="btn col" style="background-color: #35B0E5; color: white" (click)="abc()">Send</button>
        </form>
    </div>
    <div id="mobForm">
        <form action="" class="col-sm-8" style="padding: 0px;">
            <div class="d-flex">
                <input class="col-sm-2" type="text" name="" id="4" placeholder="Full Name">
                <input class="col-sm-2" type="text" name="" id="5" placeholder="Phone">
                <input class="col-sm-2" type="text" name="" id="6" placeholder="Email">
            </div>
            <div>
                <button type="submit:false" class="btn col" style="background-color: #35B0E5; color: white" (click)="abc()">Send</button>
            </div>
        </form>
    </div>
  
</section>

