<footer>
    <div class="col-sm-12 col-md-12 d-flex">
        <div class="col-sm-3 col-md-3" style="margin-top: 30px;">
            <ul>
                <li><a href="">שיפי</a></li>
                <li>עיצוב</li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-6" style="text-align: center; margin: 10px 0px">
            <img style="width: 25px" class="logo" src="../../../assets/1.svg" alt="">
            <br>
            <span style="font-size: 18px; color: #9F9F9F;">HOMBY</span>
        </div>
        <div class="col-sm-3 col-md-3">
        
        </div>
    </div>
</footer>