footer{
    border-top: 1px solid #D0D1D4;
    padding-top: 10px;
    background-color: #FBFBFB;

}
ul{
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
    float: right;
}
li{
    justify-content: center;
    margin: 5px;
    vertical-align: middle;
    padding: auto 0px;
}
li:hover{
    border-bottom: 1px solid rgb(61, 61, 161);
    color:  rgb(61, 61, 161);
    cursor: pointer;
    font-weight: bold;
}

.logo{
    margin: 5px 0px;
    width: 35px;
}
