<div class="col-sm-12 col-md-12 container">
    <header class="header-logo col-sm-12 col-md-12">
        <img style="width: 22%; margin-bottom: -30px;" src="../../../../assets/icons/buy.png" alt=""><br>
        <span class="slogan font24">סדרת הקטלוגים לעיצוב הבית </span>
        <hr>
        <span class="slogan font45" style="color: #B5B5B5;">ריצוף / כלים סניטריים
            חיפויי קירות / שיש / מטבחים</span>
        <hr>
        <div class="col-sm-4" style="position: relative; margin: 0px auto;">
            <div class="col-sm-12" style="position: absolute; top:0px ; text-align: center;">
                <a class="btn" onClick="console.log('pressed')"><img src="../../../../assets/icons/play.png" alt=""></a>
            </div>
        </div>
        <img  src="../../../../assets/images/updates and benefits/buy.png" alt="">
    </header>
 
    <app-contact-form></app-contact-form>


    <section id="paragraph">
        <div class="col-sm-8 col-md-8 info">
            <p>באו לפגוש את מייצג המוצרים הטובים והמוצלחים ביותר משלל חנויות ומותגים מובילים
               <br> ריצוף / כלים סניטריים / חיפויי קירות / שיש / מטבחים / ברזים / דלתות / ריהוט / מראות מוצרי נוי / טרנדים
               <br> ועוד</p><br>
        </div>
    </section>
</div>