<div class="col-sm-12 col-md-12 container">
    <header class="header-logo col-sm-12 col-md-12">
        <img class="logo" src="../../../assets/icons/7.png" alt=""><br>
        <span class="slogan font45">מרכז אדריכלות </span><br><span class="font30 slogan">ועיצוב פנים</span>
        <hr>
        <span class="slogan font45" style="color: #B5B5B5;">מרכז אדריכלים ומעצבי פנים</span>
        <hr>
        <div class="col-sm-4" style="position: relative; margin: 0px auto;">
            <div class="col-sm-12" style="position: absolute; top:0px ; text-align: center;">
                <a class="btn" onClick="console.log('pressed')"><img width="2vh" src="../../../../assets/icons/play.png" alt=""></a>
            </div>
        </div>
        <img id="webImg"  class="bgImg" src="../../../../assets/images/architects/אדריכלות-23.png" alt="">
        <!-- <img id="mobileImg" class="bgImg" src="../../../../assets/images/apart/דירות מובייל-26-26@2x.png" alt=""> -->
    </header>
   
    <app-contact-form></app-contact-form>


    <section id="paragraph">
        <div class="col-sm-8 col-md-8 info">
            <br>
          <p>מרכז אדריכלים ומעצבי פנים
           <br> באו לבחון עבודות של אדריכלים  ומעצבים שונים, להיחשף לסגנונות וטרנדים חדשים , ולבחון עלויות
           <br> לפרויקט שלכם, ולהשוואת מחירים
            חיסכון ממוצע  ₪ <strong>5,000</strong><br>
            
            לייעוץ חינם  לחץ כאן</p><br>
        </div>
    </section>
</div>