<div class="col-sm-12 col-md-12 container">
    <header class="header-logo col-sm-12 col-md-12">
        <img style="    width: 22%; margin-bottom: -30px;" src="../../../assets/icons/home.png" alt=""><br>
        <span class="slogan font24">מגזין לבית החדש </span>
        <hr>
        <span class="slogan font45" style="color: #B5B5B5;"> כל מה שצריכים לדעת
            בקניית דירה, שיפוץ, ועיצוב הבית</span>
        <hr>
        <div class="col-sm-4" style="position: relative; margin: 0px auto;">
            <div class="col-sm-12" style="position: absolute; top:0px ; text-align: center;">
                <a class="btn" onClick="console.log('pressed')"><img src="../../../../assets/icons/play.png" alt=""></a>
            </div>
        </div>
        
        <img  src="../../../../assets/images/updates and benefits/home.png" alt="">
    </header>

    <app-contact-form></app-contact-form>

    <section id="paragraph">
        <div class="col-sm-8 col-md-8 info">
           <p>כל מה שצריכים לדעת בקניית דירה, שיפוץ, ועיצוב הבית
           <br> מדורים עם המון צבע וטרנדים חדשים
           <br> רכישת דירה / פיננסי / תכנון אדריכלי / עיצוב הבית /בניה ושיפוצים / בית חכם / ולהכיר את הסביבה העסקית</p>
        </div>
    </section>
</div>