<div>
    <div style="z-index: 1;" class="leftNav">
        <img class="btn slide1" src="../../../../../../assets/icons/new contact icon.svg" alt="">
    </div>
    <!-- <div class="hidden">
        <div class="text-left" style="margin: 0px 10px">
            <a class="btn slide1" style="padding: 0px; font-size: 25px;"><img src="../../../../../../assets/icons/close.svg" alt=""></a>
        </div>
       
    </div> -->
    
    <div class="hidden" style="height: 465px; width: 350px;">
        <div class="text-left" style="margin: 0px 10px">
            <a class="btn slide1" style="padding: 0px; font-size: 25px;"><img src="../../../../../../assets/icons/close.svg" alt=""></a>
        </div>
        <div class="col-12" >
            <div class="col-12">
                <div class="text-center" style="margin-bottom: 30px">
                    <div>
                        <img src="../../../../../../assets/icons/contact icon form.svg" alt="">
                    </div>
                    <div>
                        <span style="font-size: 20px; color: #707070;">לקבל עכשיו</span>
                    </div>
                </div>  
                <div class="text-center" style="margin: 0px auto ;">
                    <form action="">
                        <input type="text" placeholder="שם מלא">
                        <input type="text" placeholder="אימייל">
                        <input type="text" placeholder="טלפון">
                        <div style="margin-top: 50px; padding-bottom: 60px;">
                            <button  style="width: 100%; background-color: #35B0E5; font-size: 16px; border: none;" type="button" class="btn btn-primary p-2" (click)="abc()" >שלח</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div style="z-index: -1;" id="pageRoute">
        <router-outlet></router-outlet>
    </div>
</div>