*{
    margin: 0px;
    padding:0px;
    height: 100%;
}
#mobileNav{
    display: none;
}
#webSideNav{
    z-index: 1;
}
#footer{
    z-index: -1;
}
@media(max-width: 600px){
    #webSideNav{
        display: none !important;
    }
    #mobileNav{
        display: block;
    }
    .headerAbove{
        display: none !important;
    }
}