<div class="col-sm-12 col-md-12 container">
    <header class="header-logo col-sm-12 col-md-12" style="height: auto;">
        <img class="logo" src="../../../../../../assets/icons/shopping.svg" alt=""><br>
        <div style="padding-bottom: 20px;">
            <span class="slogan font45" >מרכז החנויות </span>
            <br> 
            <span class="slogan font30" >לעיצוב הבית </span>
        </div> 
        <hr>
        <div style="padding: 10px 0px;">
            <div class="container" style="margin: 0px auto">
                <div id="carouselExampleIndicators" class="carousel slide  col-8" style="margin:0px auto"  data-interval='2000' data-ride="carousel">
                    <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <span class="slogan font45" style="color: #B5B5B5;" >מיצג ענק של מוצרים</span>
                        </div>
                        <div class="carousel-item">
                            <span class="slogan font45" style="color: #B5B5B5;" >השוואת מחירים בין חניות ומותגים</span>
                        </div>
                        <div class="carousel-item">
                            <span class="slogan font45" style="color: #B5B5B5;" >ייעוץ סטיילינג</span>
                        </div>
                        <div class="carousel-item">
                            <span class="slogan font45" style="color: #B5B5B5;" >הנחנות ומבצעים</span>
                        </div>
                        <div class="carousel-item">
                            <span class="slogan font45" style="color: #B5B5B5;" >חיסכון ממוצע  ₪ 15,000</span>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <hr>
            <!-- <a class="btn carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next"onClick="console.log('pressed')"><img src="../../../../assets/icons/play.png" alt=""></a> -->
     

    </header>
    <div class="header-logo">
        <div class=" col-12"> 
            <div class="col-8" style="margin: 0px auto; height: auto; margin-bottom: -50px;">
                <button class="btn" data-toggle="modal" data-target="#exampleModalCenter" ><img class="playIcon"  src="../../../../assets/icons/play.png" alt=""></button>
            </div>
        </div>
        <button class="btn" data-toggle="modal" data-target="#contactModal" style="color: #0093D8; margin-top:5px; font-size: 23px; color: transparent;">צור קשר</button>
        <img id="webImg" class="bgImg" src="../../../../../../assets/images/shopping/main.png" alt="">
        <img id="mobileImg" class="bgImg" src="../../../../../../assets/images/shopping/mob main.svg" alt="">
    </div>
    <!-- Shopping Stuff -->
    <div class="flex-container">
        <div>
            <div>
                <h4>ייעוץ סטיילינג</h4>
                <p>
                    ייעוץ סטיילינג לבית מושלם מעצבות
                    <br>
                    HOMBY בקהילת המעצבים של 
                </p>
            </div>
            <div style="width: 100%;">
                <img  src="../../../../../../assets/images/shopping/1.svg" alt="">
            </div>

        </div>
        <div>
            <div>
                <h4>מרכז חנויות</h4>
                <p>
                    באו ליהנות ממאות חנויות חברות ומותגים 
                    <br>
                    כדי לקבל את המגוון והסגנון האישי שלכם 
                </p>
            </div>
            <div style="width: 100%;">
                <img  src="../../../../../../assets/images/shopping/2.svg" alt="">
            </div>
        </div>
        <div>
            <div>
                <h4>הנחות ומצבעים</h4>
                <p>
                    תהינו מהטבות והנחות של
                    <br>
                    אלפי שקלים הניתנים במרכז החנויות
                    <br>
                    HOMBY של 
                </p>
            </div>
            <div style="width: 100%;">
                <img  src="../../../../../../assets/images/shopping/1.svg" alt="">
            </div>
        </div>  
        <div>
            <div>
                <h4>השוואת מחירים</h4>
                <p>
                    השוו מחירים בין חנויות, מוצרים, ועבודות
                    <br>
                    של בעלי מקצוע לחידוש ושיפוץ הבית 
                    <br>
                    <span id="hidee">abc</span> 
                </p>
            </div>
            <div style="width: 100%;">
                <img src="../../../../../../assets/images/shopping/1.svg" alt="">
            </div>
        </div>
      </div>

    <div id="mobile" style="background-color: white; padding-bottom: 100px; margin: 0px auto;">
        <app-contact-form></app-contact-form>
    </div>
    <!-- Paragraph -->
    <section id="paragraph">
        <div class="col-sm-8 col-md-8 info">
            <p>מרכז החנויות, מציג  לכם במקום אחד חנויות ומותגים מובילים, ומציע לכם להיחשף למגוון העצום ולטרנדים</p>
            <p>החדשים בעולם עיצוב הבית</p>
            <p>השוואת מחירים אונליין  בין - מותגים, חנויות, יבואנים, השירות ניתן  במוצרים כמו: קרמיקה,  כלים סניטריים</p>
            <p>מטבחים, ריהוט, מוצרי חשמל, מוצרי נוי, פתרונות אחסון לבית, ועוד</p>
            <p>חיסכון ממוצע  <strong>₪ 15,000</strong></p>
            <br>
        </div>
    </section>
    <div id="web" style="background-color: white; padding-bottom: 100px; margin: 0px auto;">
        <app-contact-form></app-contact-form>
    </div>

    <!-- Modal Contact -->
    <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content" style="overflow-y: hidden !important;">
            <div class="modal-body">
                <button type="button" class="btn" data-dismiss="modal"><img src="../../../../assets/icons/close.svg" alt=""></button>
                <div class="col-8 marginAuto text-right formTitle" >
                    <div style="margin: 15px 0px 50px 0px">
                        <span style="font-size: 25px; color: #707070;">מלא פרטים לקבל גישה בחינם</span>
                    </div>
                </div>
                <div>
                    <form action="">
                        <input style="width: 100% !important; margin-bottom: 20px; background-color: white; color:#949494" type="text" name="" id="1" placeholder="טלפון">
                        <input style="width: 100% !important; margin-bottom: 20px; background-color: white; color:#949494"  type="text" name="" id="2" placeholder="אימייל">
                        <input style="width: 100% !important; margin-bottom: 20px; background-color: white; color:#949494; margin-bottom: 40px;"  type="text" name="" id="3" placeholder="שם מלא">
                        <button class="btn btn-primary" style="width: 100%; color: white; margin:5px 0px; background-color: #35B0E5; padding: 1pc; font-size: 20px;"  type="submit">שלח</button>
                    </form>
                </div>
            </div>
        </div>
      </div>
    </div>
    <!-- Video Modal -->
   


</div>
<div class="modal fade " id="exampleModalCenter" modal_backdrop="false" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" style="border: none;background-color: transparent;">
        <div class="modal-body" style="background-color: transparent;">
            <div>
                <button class="btn"  data-dismiss="modal"><img src="../../../../assets/icons/white close.svg" class="whiteClose" alt=""></button>
            </div>
            <div style="padding: 10px 50px;">
                <iframe class="m_height"  src="https://www.youtube-nocookie.com/embed/5Peo-ivmupE"  style="width: 100%;  border: none; background-color: black; border-radius: 25px;"></iframe>
            </div>
        </div>
      </div>
    </div>
  </div>
