
<div class="d-flex headerAbove col-sm-12 col-md-12" style="height: 8vh !important;">
    <div class="dropdown">
        <button style="color:#BFBEBE; font-size: 18px; padding-left: 9px; padding-right: 5px;" class="btn dropdownBtn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        HB
        </button >
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2" >
            <a [routerLink]="['/eng']"  style="color:#BFBEBE;" class="dropdown-item" type="button">English</a >
        </div>
    </div>
    <a type="button" (click)="abc()" style="border-radius: 20px; margin: 6px 20px; color: #35B0E5; font-size: 20px;">לאתר</a>
</div>