<div class="col-sm-12 col-md-12 container">
    <header class="header-logo col-sm-12 col-md-12">
        <img class="logo" src="../../../assets/icons/3.png" alt=""><br>
        <span class="slogan font45">מרכז דירות ונכסים </span>
        <hr>
        <span class="slogan font45" style="color: #B5B5B5;">מאגר דירות למכירה ולהשכרה בחינם</span>
        <hr>
        <div class="col-sm-4" style="position: relative; margin: 0px auto;">
            <div class="col-sm-12" style="position: absolute; top:0px ; text-align: center;">
                <a class="btn" onClick="console.log('pressed')"><img src="../../../../assets/icons/play.png" alt=""></a>
            </div>
        </div>
        <img class="bgImg" src="../../../../assets/images/contractors/שיפוצים ובניה-21.png" alt="">
    </header>

    <app-contact-form></app-contact-form>

    <section id="paragraph">
        <div class="col-sm-8 col-md-8 info">
            <p>עשרות קבלנים ואנשי מקצוע מעוניינים לקחת את הפרויקט שלכם , באו להשוואת מחירים ולקבל  עשרות
                הצעות מחיר אונליין – בקליק אחד
            </p>
            <p>חיסכון ממוצע  ₪ <strong>45,000</strong></p>
            <p>שירות ביטחון עסקה לפרטים</p>
            <p>לייעוץ מומחה חינם  לחץ כאן</p>
            <div class="d-flex flex-row-reverse">
                <button class="btn" >ועוד</button>
                <button class="btn">עבודות צבע וטייח</button>
                <button class="btn">עבודות גבס</button>
                <button class="btn">יח' דיור</button>
                <button class="btn">הרחבות בניה</button>
                <button class="btn">שיפוץ דירה קומפלט</button>
            </div>
        </div>
    </section>
</div>