<div class="col-sm-12 col-md-12 container">
    <header class="header-logo col-sm-12 col-md-12">
        <img class="logo" src="../../../assets/icons/2.png" alt=""><br>
        <span class="slogan font45">מרכז החנויות</span><br><span class="font20 slogan">לעיצוב הבית</span>
        <hr>
        <span class="slogan font45" style="color: #B5B5B5;">מייצג ענק של מוצרים ממרכז חנויות
        <br>ומותגים מובילים</span>
        <hr>
        <div class="col-sm-4" style="position: relative; margin: 0px auto;">
            <div class="col-sm-12" style="position: absolute; top:0px ; text-align: center;">
                <a class="btn" onClick="console.log('pressed')"><img src="../../../../assets/icons/play.png" alt=""></a>
            </div>
        </div>
        <img  style="margin-bottom: -30px;" class="bgImg" src="../../../../assets/images/shopping/main.png" alt="">
    </header>
    <!-- Contact Form -->
    <app-contact-form></app-contact-form>

    <!--Shopping Stuff-->
    <section class="shoppingStuff">
        <div class="col-sm-8 col-md-8 info d-flex">
            <div class="col-sm-6 col-md-6">
                <span class="slogan font30">ייעוץ סטיילינג</span><br><br>
                <h4 class="font24">ייעוץ סטיילינג לבית מושלם מעצבות<br>
                    HOMBY בקהילת המעצבים של 
                </h4>
                <img src="../../../../assets/images/shopping/1.png" alt="">
            </div>
            <div class="col-sm-6 col-md-6">
                <span class="slogan font30">מרכז החנויות</span><br><br>
                <h4 class="font24">באו ליהנות ממאות חנויות חברות ומותגים <br>
                    כדי לקבל את המגוון והסגנון האישי שלכם </h4>
                <img src="../../../../assets/images/shopping/2.png" alt="">
            </div>
        </div>
        <div class="col-sm-8 col-md-8 info d-flex">
            <div class="col-sm-6 col-md-6">
                <span class="slogan font30">הנחות ומצבעים</span><br><br>
                <h4 class="font24">תהינו מהטבות והנחות של
                   <br> אלפי שקלים הניתנים במרכז החנויות <br>HOMBY של  </h4>
                <img src="../../../../assets/images/shopping/3.png" alt="">
            </div>
            <div class="col-sm-6 col-md-6">
                <span class="slogan font30">השוואת מחירים</span><br><br>    
                <h4 class="font24">השוו מחירים בין חנויות, מוצרים, ועבודות
<br>                    של בעלי מקצוע לחידוש ושיפוץ הבית </h4>
                <img src="../../../../assets/images/shopping/4.png" alt="">
            </div>
        </div>
    </section>
    <!-- Paragraph -->
    <section id="paragraph">
        <div class="col-sm-8 col-md-8 info">
            <br>
            <p>מרכז החנויות, מציג  לכם במקום אחד חנויות ומותגים מובילים, ומציע לכם להיחשף למגוון העצום ולטרנדים
                החדשים בעולם עיצוב הבית
            </p>
            <p>השוואת מחירים אונליין  בין - מותגים, חנויות, יבואנים, השירות ניתן  במוצרים כמו: קרמיקה,  כלים סניטריים
                מטבחים, ריהוט, מוצרי חשמל, מוצרי נוי, פתרונות אחסון לבית, ועוד
            </p>
            <p>חיסכון ממוצע  ₪ <strong>15,000</strong></p> 
            <br>
        </div>
    </section>
    <!-- 2nd From -->
    <section class="col-sm-12 col-md-12" style="background-color: #F2F2F2; margin-bottom: 40px;">
        <div  class="col-sm-8" style="padding: 0px; margin: 0px auto;">
            <form action="" class="d-flex justify-content-between">
                <input type="text" name="" id="1" placeholder="טלפון">
                <input type="text" name="" id="2" placeholder="אימייל">
                <input type="text" name="" id="3" placeholder="שם מלא">
            </form>
            <div class="d-flex flex-row-reverse">
                <button type="submit" class="btn btn-primary" style="color: #35B0E5; width: 30.5%; margin: 2pc 0px;">שלח</button>
            </div>
        </div>
    </section>
</div>