*{
    font-family: NotoSansHebrew-Regular;
}
.logo{
    width: 281px !important;
    height: 102px !important;
}
#mobileImg{
    display: none;
}
input{
    border: none;
    text-align: right;
    padding: 10px;
    background-color : #d1d1d1; 
    width: 29.5%;
    height: 56px;
    border-radius: 5px;
    border: 1px solid #D0D1D4;
    font-size: 18px;
}
#paragraph{
    padding-bottom: 0px !important;
}
form{
    padding: 0px 80px 50px 80px;
}
.marginAuto{
    margin: 0px auto;
    padding: 0px;
}
header{
    height: 48vh;
}

/* Slider CSS */
.playIcon{
    width: 83.22px; 
    height:83.22px
}

/* Video Modal */
.whiteClose{
    width: 37px;
    height: 37px;
}
.m_height{
    height: 500px ;
}
#exampleModalCenter{
    max-width: 100% !important;
}
#exampleModalCenter .modal-dialog{
    max-width: 60%;
}
#contactModal .modal-dialog{
    width: 468px;
    height: 541px;
}  
.carousel-indicators li {
    background-color: transparent !important;
}

.scrolIcon{
    height: 24px !important;
    width: 8px !important;
}
.slogan{
    font-size: 30px !important;
}
.playCon{
    color: transparent !important;
}
.bgImg{
    width: 30% !important;
}
@media(max-width: 600px){
    .bgImg{
        width: 100% !important;
    }
    .slogan{
        font-size:  21px;
    }
    .logo{
        width: 183px !important;
        height: 67px !important;
    }
    header{
        height: auto !important;
    }
    .scrolIcon{
        height: 12px !important;
        width: 4px !important;
    }
    #exampleModalCenter{
        max-width: 100% !important;
    }
    #exampleModalCenter .modal-dialog{
        max-width: 100%;
    }
    .font45{
        font-family: 'NotoSansHebrew-Bold';
        font-size: 22px;
    }
    .playIcon{
        width: 48.83px;
        height: 48.83px;
    }
    #webImg{
        display: none;
    }
    #mobileImg{
        display: block;
    }
    .headerAbove{
        display: none !important;
    }
    .font45{
        font-size: 30px !important;
        margin: 0px auto;
    }
    .whiteClose{
        width: 17px;
        height: 17px;
    }
    .m_height{
        height: 250px;
    }
    .playCon{
        color: transparent !important;
    }

}


