<div class="col-12" style="padding: 0px">
    <!-- Header -->
    <header class="header-logo col-sm-12 col-md-12">
        <img class="logo" src="../../../assets/icons/logo.png" alt="">
        <div class="col-sm-12" style="margin: 0px auto 0px auto;">
            <span class="font49" style="color: #707070;">Home Real Estate Center</span>
        </div>
        <!-- <div class="col-sm-6" style="position: relative; margin: 0px auto; padding: 0px;">
            <div class="col-sm-12" style="position: absolute;  text-align: center;">
            </div>
        </div> -->
        <div class="a">
            <img id="webImg" style="height:43vh" class="bgImg img-fluid"  src="../../../assets/images/Home Page/homebg.png" alt="">
            <img id="mobileImg" class="bgImg" src="../../../assets/images/Home Page/homeMobilebg.png" alt="">
            <a class="btn" onClick="console.log('pressed')" data-toggle="modal" data-target="#exampleModalCenter"><img class="playIcon" src="../../../../assets/icons/play.png" alt=""></a>
            <a class="btn" onClick="console.log('pressed')" data-toggle="modal" data-target="#exampleModalCenter"><img  class="bgBox" src="../../../assets/images/Home Page/Path 4805.png" alt=""></a>
        </div>
        <div class="homeButton col-12">
            <div class="col-8 marginAuto">
                <div>
                    <button class="btn locate shadow-sm">Website</button>
                </div>
                <div>
                    <button class="btn contactUs">Contact</button>
                </div>
            </div>
        </div>
    </header>
    
    <!--  Locate And Contact Us -->
  

    <!-- Services -->
    <div class="col-12" id="services">
        <!-- Homby -->
            <div class="col-12 marginAuto" >
                <div class="text-center mb-5">
                    <a ><img class="scrolIcon" src="../../../assets/scrollicon.svg" alt=""></a>
                </div>
                <div class="text-center hidesection">
                    <div>
                        <span class="font36" style="color: #707070;">HOMBY suggestions</span>
                    </div>
                    <div style="margin-top: 10px; margin-bottom: 20px;">
                        <span class="font20" style="color: #B2AFAF;">לחץ על האיקון כדי לקבל יותר פרטים</span>
                    </div>
                </div>
            </div>

        <!-- Services -->
            <div class="col-8 marginAuto" >
                <div class="webForm container col-sm-10 hidesection">
                    <div class="d-flex flex-row-reverse" style="margin: 0px auto;" >
                        <div class="col-sm-4 center box" style="height: 240px;">
                            <div>
                                <img class="boxImage" style="width: 110.59px; height: 84.25px;" src="../../../assets/icons/shopping.svg" alt="">
                            </div>
                            <div>
                                <span style="font-size: 25px; font-family: 'Roboto-Regular'; color: #5A5B5E;">Shopping Center</span>
                            </div>
                            <div class="hide flyout">
                                <div>
                                    <h5 style="color: #5A5B5E; font-size: 17px;">Home Design</h5>
                                </div>
                                <div>
                                    <a  style="color: #35B0E5; font-size: 20px;"[routerLink]="['/services/shopping']">more details</a>
                                </div>
                            </div>

                        </div>

                        <div class="col-sm-4 center box1" style="height: 240px;">
                            <div>
                                <img class="boxImage" style="width: 87.62px; height: 89.35px;" src="../../../assets/icons/contractor.svg" alt="">
                            </div>
                            <div>
                                <span style="font-size: 25px; font-family: 'Roboto-Regular'; color: #5A5B5E;">Contractors Center</span>
                            </div>
                            <div  class="hide1">
                                <a style="color: 35B0E5;" class="font20" [routerLink]="['/services/contractor']">more details</a>
                            </div>
                        </div>

                        <div class="col-sm-4 center box2" style="height: 240px;">
                            <div>
                                <img class="boxImage" style="width: 100.35px; height: 84.64px;"  src="../../../assets/icons/appartments.svg" alt="">
                            </div>
                            <div>
                                <span style="font-size: 25px; font-family: 'Roboto-Regular'; color: #5A5B5E;">Home center</span>
                            </div>
                            <div  class="hide2">
                                <a style="color: 35B0E5;" class="font20" [routerLink]="['/services/apart']">more details</a>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row-reverse " style="margin: 0px auto;">
                        <div class="col-sm-4 center box3" style="height: 240px;">
                            <div>
                                <img class="boxImage"  src="../../../assets/icons/compare.svg" alt="">
                            </div>
                            <div>
                                <span style="font-size: 25px; font-family: 'Roboto-Regular'; color: #5A5B5E;">Compare Prices</span>
                            </div>
                            <div  class="hide3">
                                <a style="color: 35B0E5;"class="font20" [routerLink]="['/services/compare']">more details</a>
                            </div>
                        </div>
                        <div class="col-sm-4 center box4" style="height: 240px;">
                            <div>  
                                <img class="boxImage"  src="../../../assets/icons/architect.svg" alt="">
                            </div>
                            <div>
                                <span style="font-size: 25px; font-family: 'Roboto-Regular'; color: #5A5B5E;">Architects Center</span>
                            </div>
                            <div  class="hide4">
                                <a style="color: 35B0E5;" class="font20" [routerLink]="['/services/archi']">more details</a>
                            </div>
                        </div>
                        <div class="col-sm-4 center box5" style="height: 240px;">
                            <div>
                                <img class="boxImage" src="../../../assets/icons/mortgage.svg" alt="">
                            </div>
                            <div>
                                <span style="font-size: 25px; font-family: 'Roboto-Regular'; color: #5A5B5E;">Mortgage Center</span>
                            </div>
                            <div  class="hide5">
                                <a style="color: 35B0E5;"  class="font20" [routerLink]="['/services/mortgage']">more details</a>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex" style="margin: 0px auto; margin-top: 10px;">
                        <div class="col-sm-4 center box6" style="height: 250px;">
                            <div>
                                <div style="position: relative; r: 0; top: 0;">
                                    <img class="fishes" style="width: 90px;" class="boxImage"  src="../../../assets/icons/update.svg" alt="">
                                    <img id="div2" class="fish" src="../../../assets/icons/2.svg" alt="">
                                </div>
                            </div>
                            <div>    
                                <span style="font-size: 25px; font-family: 'Roboto-Regular'; color: #5A5B5E;">2 Gifts</span>
                                <div>
                                    <span style="color: #5A5B5E; font-size: 25px;">For free</span>
                                </div>
                            </div>
                            <div class="hide6">
                                <div>
                                    <a style="color: 35B0E5;" class="font20" [routerLink]="['/services/updatebenefits']">more details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 mobileForm hidesection" style="padding: 10px 0px">
                <div class="d-flex" style="margin-bottom: 25px;">
                <div class="col center">
                    <div>
                        <a [routerLink]="['/services/contractor']"><img class="serviceImg" src="../../../assets/icons/contractor.svg" alt=""></a>
                    </div>
                    <div>
                        <div> <span style="font-size: 10px; color: #707070;">בניה</span></div>
                        <div style=" margin-top: -10px;"> <span style="font-size: 10px; color: #707070;">ושיפוצים</span></div>
                    </div>
                </div>
                <div class="col center">
                    <div>
                        <a [routerLink]="['/services/shopping']"><img class="serviceImg" src="../../../assets/icons/shopping.svg" alt=""></a>
                    </div>
                    <div>
                        <span style="font-size: 10px; color: #707070;">מרכז החנויות</span>
                    </div>                        
                </div>
                <div class="col center">
                    <div>
                        <a [routerLink]="['/services/apart']"><img class="serviceImg" src="../../../assets/icons/appartments.svg" alt=""></a>
                    </div>
                    <div>
                        <span style="font-size: 10px; color: #707070;">דירות</span>
                    </div>                        
                </div>
                </div>
                <div class="d-flex" style="margin-bottom: 25px;">
                <div class="col center">
                    <div>
                        <a [routerLink]="['/services/compare']"><img class="serviceImg" src="../../../assets/icons/compare.svg" alt=""></a>
                    </div>
                    <div>
                        <div> <span style="font-size: 10px; color: #707070;">השוואת מחירים</span></div>
                        <div style=" margin-top: -10px;"> <span style="font-size: 10px; color: #707070;">נדלן</span></div>
                    </div>                        
                </div>
                <div class="col center">
                    <div>
                        <a [routerLink]="['/services/archi']"><img class="serviceImg" src="../../../assets/icons/architect.svg" alt=""></a>
                    </div>
                    <div>
                        <div> <span style="font-size: 10px; color: #707070;">מרכז אדריכלים</span></div>
                        <div style=" margin-top: -10px;"> <span style="font-size: 10px; color: #707070;">ומעצבים</span></div>
                    </div>                        
                </div>
                <div class="col center">
                    <div>
                        <a [routerLink]="['/services/mortgage']"><img class="serviceImg" src="../../../assets/icons/mortgage.svg" alt=""></a>
                    </div>
                    <div>
                        <div> <span style="font-size: 10px; color: #707070;">מימון</span></div>
                        <div style=" margin-top: -10px;"> <span style="font-size: 10px; color: #707070;">ומשכנתא</span></div>
                    </div>                        
                </div>
                </div>
                <div class="d-flex flex-row-reverse" style="margin-bottom: 25px;">
                <div class="col-4 center">
                    <div>
                        <div style="position: relative; left: 0; top: 0; height: 30px;">
                            <a [routerLink]="['/services/update']"><img class="fishes" class="serviceImg" style="height: 40px !important; width: 40px;"  src="../../../assets/icons/update.svg" alt=""></a>
                            <img id="div2"  class="fish" src="../../../assets/icons/2.svg" alt="">
                        </div>
                        <!-- <a [routerLink]="['/services/shopping']"><img class="serviceImg" src="../../../assets/icons/update.svg" alt=""></a> -->
                    </div>
                    <div>
                        <div class="d-flex" style="margin-top: 5px;"> <span style="font-size: 10px; margin-right: 5px; color: #707070; margin-left: 8px;">עדכונים והטבו</span><h6 style="font-size: 10px; color: #707070;">2</h6></div>
                        <div style=" margin-top: -10px;"> <span style="font-size: 10px; color: #707070;">בחינם</span></div>
                    </div>                        
                </div>
                </div>
            </div>
    </div>

    <!--Contact Form -->
    <section  class="col-12" id="form">
        <!-- Form Title -->
        
        <!-- Web Contact Form -->
        <div  class="col-7 webForm" style="padding: 0px; margin: 0px auto;">
            <div class="col-12 marginAuto text-left formTitle" >
                <div style="margin: 15px 0px">
                    <span style="font-size: 30px;">Expert advice</span>
                </div>
            </div>
            <form action="" class="d-flex justify-content-between">
                <input type="text" name="" id="1" placeholder="Full Name">
                <input type="text" name="" id="2" placeholder="Phone">
                <input type="text" name="" id="3" placeholder="Email">
            </form>
            <div class="d-flex">
                <button (click)="abc()" type="submit" class="btn" style="background-color:#35B0E5 ;color: white; width: 29.5%; height: 56px; margin: 2pc 0px;">Send</button>
            </div>
        </div>
    <!-- Mobile Contact Form -->
        <div  class="col-12 mobileForm" style="padding: 0px; margin: 0px auto;">
            <div class=" marginAuto text-right formTitle" >
                <div style="margin: 15px 0px">
                    <span style="font-size: 12px;">ייעוץ חינם</span>
                </div>
            </div>
            <form action="">
                <input style="width: 100% !important; margin-bottom: 20px; background-color: white; color:#949494" type="text" name="" id="1" placeholder="טלפון">
                <input style="width: 100% !important; margin-bottom: 20px; background-color: white; color:#949494"  type="text" name="" id="2" placeholder="אימייל">
                <input style="width: 100% !important; margin-bottom: 20px; background-color: white; color:#949494"  type="text" name="" id="3" placeholder="שם מלא">
                <button (click)="abc()" class="btn btn-primary" style="width: 100%; color: white; margin:5px 0px; background-color: #35B0E5; padding: 1pc;">שלח</button>
            </form>
        </div>
    </section>

<!-- container -->
</div>

<!-- Video Modal -->
<div class="modal fade " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" style="border: none;background-color: transparent;">
        <div class="modal-body" style="background-color: transparent;">
            <div>
                <button class="btn"  data-dismiss="modal"><img  class="whiteClose" src="../../../../assets/icons/white close.svg" alt=""></button>
            </div>
            <div style="padding: 10px 50px;" >
                <iframe class="m_height"  src="https://www.youtube-nocookie.com/embed/5Peo-ivmupE"  style="width: 100%;  border: none; background-color: black; border-radius: 25px;"></iframe>
            </div>
        </div>
      </div>
    </div>
  </div>
