
#contactForm{
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    padding: 10px;
    height: auto;
}
form{
    margin: 0px auto;
}
.formTitle{
    border-top: 1px solid #DCDCDC;
    padding: 0px;
    color:#707070
}
.sendBtn{
    color: #35B0E5;
    margin-top: 9px;
    width: 20%;
}
input{
    text-align: right;
    margin-left: 20px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: #949494;
    background-color : #E8E8E8; 

}
.formHeader{
    margin: 0px auto;
}
.formHeader h3{
    text-align: right;
    color: #707070;
}
#mobForm{
    display: none;
}
@media(max-width: 600px){
    #contactForm{
        background-color: #F2F2F2;
    }
    #mobForm{
        display: block;
    }
    #webForm{
        display: none
    }
    input{
        text-align: right;
        border: none;
        padding: 10px;
        margin: 2px;
        border-radius: 5px;
        color: #949494;
        background-color : #E8E8E8; 
        height: 67.7px;

    }
    button{
        margin-top: 5px;
    }
    .font30{
        font-size: 20px!important;
    }
}