<section id="contactForm">
    <div class="col-sm-8 col-md-8 formHeader" style="border-top: 1px solid #D0D1D4; padding: 0px; ">
            <h3  style="margin: 20px 0px; font-size: 25px;">לקבל עכשיו את המאגר</h3>
    </div>
    <div id="webForm">
        <form action="" class="d-flex flex-row-reverse col-sm-8" style="padding: 0px;">
            <input class="col" type="text" name="" id="1" placeholder="טלפון">
            <input class="col" type="text" name="" id="2" placeholder="אימייל">
            <input class="col" type="text" name="" id="3" placeholder="שם מלא">
            <button  class="btn col" style="background-color: #35B0E5; color: white" (click)="abc()">שלח</button>
        </form>
    </div>
    <div id="mobForm">
        <div  class="col-12 " style="padding: 0px; margin: 0px auto;">
            <div class=" marginAuto text-right formTitle" >
                <div style="margin: 15px 0px">
                    <span style="font-size: 12px;">ייעוץ חינם</span>
                </div>
            </div>
            <form action="">
                <input style="width: 100% !important; margin-bottom: 20px; background-color: white; color:#949494" type="text" name="" id="1" placeholder="טלפון">
                <input style="width: 100% !important; margin-bottom: 20px; background-color: white; color:#949494"  type="text" name="" id="2" placeholder="אימייל">
                <input style="width: 100% !important; margin-bottom: 20px; background-color: white; color:#949494"  type="text" name="" id="3" placeholder="שם מלא">
                <button (click)="abc()" class="btn btn-primary" style="width: 100%; color: white; margin:5px 0px; background-color: #35B0E5; padding: 1pc;">שלח</button>
            </form>
        </div>
    </div>
  
</section>

