<div class="col-sm-12 col-md-12 container">
    <header class="header-logo col-sm-12 col-md-12">
        <img class="logo" src="../../../../assets/icons/5.png" alt=""><br>
        <span class="slogan font45">מרכז דירות ונכסים </span>
        <hr>
        <span class="slogan font45" style="color: #B5B5B5;">מאגר דירות למכירה ולהשכרה בחינם</span>
        <hr>
        <div class="col-sm-4" style="position: relative; margin: 0px auto;">
            <div class="col-sm-12" style="position: absolute; top:0px ; text-align: center;">
                <a class="btn" onClick="console.log('pressed')"><img src="../../../../assets/icons/play.png" alt=""></a>
            </div>
        </div>
        <img class="bgImg" src="../../../../assets/images/compare/משכנתא-22.png" alt="">
    </header>
  
    <app-contact-form></app-contact-form>

    <section id="paragraph">
        <div class="col-sm-8 col-md-8 info">
            <p>
                השוואת מחירים אונליין בשירותי נדל"ן מאפשר לכם לחסוך עשרות מאלפי שקלים ולבחון בקלות את איכות
ורמת המקצועיות העבודות של בעלי המקצועי השונים<br>
קבלנים / שיפוצניקים /  אדריכלים / מעצבי פנים / משכנתא  / ביטוח / ועוד...
חיסכון ממוצע  ₪ <strong>5,000 - 70,000 </strong> <br>

לייעוץ מומחה חינם  לחץ כאן
            </p><br>
        </div>
    </section>
</div>