*{
    font-family: NotoSansHebrew-Regular;
}

#mobileImg{
    display: none;
}
input{
    border: none;
    text-align: right;
    padding: 10px;
    background-color : #d1d1d1; 
    width: 29.5%;
    height: 56px;
    border-radius: 5px;
    border: 1px solid #D0D1D4;
    font-size: 18px;
}



form{
    padding: 0px 80px 50px 80px;
}
.marginAuto{
    margin: 0px auto;
    padding: 0px;
}
header{
    height: 48vh;
}

/* Slider CSS */
.playIcon{
    width: 83.22px; 
    height:83.22px
}

/* Video Modal */
.whiteClose{
    width: 37px;
    height: 37px;
}
.m_height{
    height: 500px ;
}
#exampleModalCenter{
    max-width: 100% !important;
}
#exampleModalCenter .modal-dialog{
    max-width: 60%;
}
#contactModal .modal-dialog{
    width: 468px;
   height: auto;
}  
.carousel-indicators li {
    background-color: transparent !important;
}
.modal-content{
    height: auto !important;
    overflow-y: hidden !important;

}

.scrolIcon{
    height: 24px !important;
    width: 8px !important;
}
.frame{
    padding: 10px 50px;
}
iframe{
    width: 100%;  border: none; background-color: black; border-radius: 25px;
}
.top{
    display: flex;
    justify-content: space-between;
}
h4{
    margin: 0px;
}
.mobile{
    display: none;
}
.web{
    display: block;
}
@media(max-width: 600px){
    .web{
        display: none;
    }
    .mobile{
        height: auto;
        display: block;
    }
    .white{
        background-color: white;
        border-radius: 10px;
        margin: 20px 0px;
    }
    .marginAuto{
        padding: 1px;
    }
    .gray{
        background-color: #F2F2F2;
    }
    .marginAuto{
        background-color: #F2F2F2;
    }
    .top{
        padding-top: 10%;
        flex-direction: column-reverse;
        background-color: white;
    }
    .hide{
        display: none;
    }
    .top{
        display: block !important;
    }
    .modal-body{
        padding: 0px;
    }
    iframe{
        border-radius: 0px;
    }
    .frame{
        padding: 0px;
    }
    .modal-content{
        padding: 0px;
    }
    .playCon{
        color: transparent !important;
    }
    input{
        width: 100% !important;
    }
    #contactModal .modal-dialog{
        width: auto;
    }
    header{
        height: 28vh !important;
    }
    .scrolIcon{
        height: 12px !important;
        width: 4px !important;
    }
    #exampleModalCenter{
        max-width: 100% !important;
    }
    #exampleModalCenter .modal-dialog{
        max-width: 100% !important;
    }
    .font45{
        font-family: 'NotoSansHebrew-Bold';
        font-size: 22px;
    }
    .playIcon{
        width: 48.83px;
        height: 48.83px;
    }
    #webImg{
        display: none;
    }
    #mobileImg{
        display: block;
    }
    .headerAbove{
        display: none !important;
    }
    .font45{
        font-size: 30px !important;
        margin: 0px auto;
    }
    .whiteClose{
        width: 17px;
        height: 17px;
    }
    .m_height{
        height: 250px;
    }

}


