<div class="col-sm-12 col-md-12 container">
    <header class="header-logo col-sm-12 col-md-12" style="height: auto;" >
        <img class="logo"  src="../../../../../../assets/icons/update2.svg" alt=""><br>
        <div style="padding-bottom: 20px;">
            <span class="slogan font45" >עדכונים והטבות </span>
        </div>
    </header>
    <!-- Section 1 -->
    <!-- Web View -->
    <div class="col-12 web" >
        <div class="col-md-8 col-sm-12 marginAuto">
            <div class="col-12 top ">
                <div class="col-md-7 col-sm-12">
                    <div style="position: relative;">
                        <div style="position: absolute; left: 36%; top: 7.5pc;">
                            <a class="btn "  data-toggle="modal" data-target="#exampleModalCenter"><img style="height: 56.03px; width: 56.03px;" src="../../../../../../assets/icons/play.png" alt=""></a>
                        </div>
                    </div>
                    <img class="img-fluid" src="../../../../../../assets/images/updates and benefits/buy.png" alt="">
                   
                </div>
                <div class="col-md-5 col-sm-12">
                    <div style="position: relative;">
                        <div style="position: absolute; right: -82px; top: 4px;" class="hide">
                            <svg xmlns="http://www.w3.org/2000/svg" width="49" height="67" viewBox="0 0 49 67">
                                <g id="Group_2858" data-name="Group 2858" transform="translate(-1504 -333)">
                                    <g id="Rectangle_1714" data-name="Rectangle 1714" transform="translate(1504 333)" fill="#fff" stroke="#707070" stroke-width="1">
                                    <rect width="49" height="49" rx="24.5" stroke="none"/>
                                    <rect x="0.5" y="0.5" width="48" height="48" rx="24" fill="none"/>
                                    </g>
                                    <text id="_1_" data-name="1
                                " transform="translate(1529 368)" fill="#818181" font-size="28" font-family="SegoeUI, Segoe UI"><tspan x="-7.547" y="0">1</tspan><tspan font-family="Pekan-Bold" font-weight="700"><tspan x="0" y="25"></tspan></tspan></text>
                                </g>
                            </svg>
                                
                        </div>
                    </div>
                    <div class="text-right"> 
                        <h4 style="font-size: 30px; ">סדרת קטלוגים לעיצוב הבית</h4>
                    </div>
                    <div class="text-right">
                        <p style="font-size: 15px;">
                            באו לפגוש את מייצג המוצרים הטובים והמוצלחים ביותר משלל
                            <br>
                            חנויות ומותגים מובילים
                            <br>
                            ריצוף / כלים סניטריים / חיפויי קירות / שיש / מטבחים / ברזים
                            <br>
                            ...דלתות / ריהוט / מראות מוצרי נוי / טרנדים / ועוד
                        </p>
                    </div>
                    <div class="d-flex flex-row-reverse">
                        <div>
                            <button class="btn" [routerLink]="['/services/buy']" style=" font-size: 18px; border: 1px solid #35B0E5; color: #35B0E5; margin-left: 20px;">קבל עכשיו בחינם</button>
                        </div>
                        <div>
                            <h6 style="margin-top: 9px; font-size: 18px;">פרטים נוספים</h6>
                        </div>
                        
                    </div>
                   
                </div>
               
            </div>

            <div class="col-12 top ">
                <div class="col-md-7 col-sm-12">
                    <div style="position: relative;">
                        <div style="position: absolute; left: 36%; top: 7.5pc;">
                            <a class="btn"  data-toggle="modal" data-target="#exampleModalCenter"><img style="height: 56.03px; width: 56.03px;" src="../../../../../../assets/icons/play.png" alt=""></a>
                        </div>
                    </div>
                    <img class="img-fluid" src="../../../../../../assets/images/updates and benefits/home.png" alt="">
                   
                </div>
                <div class="col-md-5 col-sm-12">
                    <div style="position: relative;">
                        <div style="position: absolute; right: -82px; top: 4px;" class="hide">
                            <svg xmlns="http://www.w3.org/2000/svg" width="49" height="67" viewBox="0 0 49 67">
                                <g id="Group_2858" data-name="Group 2858" transform="translate(-1504 -713)">
                                  <g id="Rectangle_1715" data-name="Rectangle 1715" transform="translate(1504 713)" fill="#fff" stroke="#707070" stroke-width="1">
                                    <rect width="49" height="49" rx="24.5" stroke="none"/>
                                    <rect x="0.5" y="0.5" width="48" height="48" rx="24" fill="none"/>
                                  </g>
                                  <text id="_2_" data-name="2
                              " transform="translate(1529 748)" fill="#818181" font-size="28" font-family="SegoeUI, Segoe UI"><tspan x="-7.547" y="0">2</tspan><tspan font-family="Pekan-Bold" font-weight="700"><tspan x="0" y="25"></tspan></tspan></text>
                                </g>
                            </svg>
                        </div>
                    </div>
                    <div class="text-right"> 
                        <h4 style="font-size: 30px; ">מגזין לבית החדש</h4>
                    </div>
                    <div class="text-right">
                        <p style="font-size: 15px;">
                            כל מה שצריכים לדעת בקניית דירה, שיפוץ, ועיצוב הבית
                            <br>
                            מדורים עם המון צבע וטרנדים חדשים
                            <br>
                            רכישת דירה / פיננסי / תכנון אדריכלי / עיצוב הבית /בניה ושיפוצים
                            <br>
                            בית חכם, וגם להכיר את הסביבה העסקית                   
                        </p>
                    </div>
                    <div class="d-flex flex-row-reverse">
                        <div>
                            <button class="btn" [routerLink]="['/services/home']" style=" font-size: 18px; border: 1px solid #35B0E5; color: #35B0E5; margin-left: 20px;">קבל עכשיו בחינם</button>
                        </div>
                        <div>
                            <h6 style="margin-top: 9px; font-size: 18px;">פרטים נוספים</h6>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    
    <!-- Mobile View -->
    <div class="col-12 gray mobile">
        <div class="col-md-8 col-sm-10 marginAuto">
                <div class="col-12 white">
                    <h4 class="text-center" style="font-size: 24px; margin-bottom: 8px;">1</h4>
                    <h4 class="text-center" style="font-size: 18px; margin-bottom: 5px">סדרת קטלוגים לעיצוב הבית</h4>
                    <p class="text-center" style="font-size:  12px;">
                        באו לפגוש את מייצג המוצרים הטובים והמוצלחים
                        <br>
                        ביותר משלל חנויות ומותגים מובילים
                        <br>
                        ריצוף / כלים סניטריים / חיפויי קירות / שיש
                        <br>
                        מטבחים / ברזים / דלתות / ריהוט / מראות מוצרי נוי
                        <br>
                        ...טרנדים /ועוד
                    </p>
                    <div class="text-center">
                        <div style="position: relative;">
                            <div style="position: absolute; left: 36%; top: 1.5pc;">
                                <a class="btn"  data-toggle="modal" data-target="#exampleModalCenter"><img style="height: 31.03px; width: 31.03px;" src="../../../../../../assets/icons/play.png" alt=""></a>
                            </div>
                        </div>
                        <img style="width: 283.89px; margin-top: -32px;" class="text-center" src="../../../../../../assets/images/updates and benefits/buy.png" alt="">
                    </div>
                    <div class="col-sm-12 text-center" style="    padding: 20px;">
                        <a [routerLink]="['/services/buy']" style=" color: #35B0E5; border: 1px solid #35B0E5; border-radius: 5px; font-size: 12px; padding: 10px 25%;" class="btn" class="text-center">קבל עכשיו בחינם</a>
                    </div>
                </div>

                <div class="col-12 white">
                    <h4 class="text-center" style="font-size: 24px; margin-bottom: 8px;">2</h4>
                    <h4 class="text-center" style="font-size: 18px; margin-bottom: 5px">מגזין לבית החדש</h4>
                    <p class="text-center" style="font-size:  12px;">
                        כל מה שצריכים לדעת בקניית דירה, שיפוץ, ועיצוב
                        <br>
                        הבית,    >    מדורים עם המון צבע וטרנדים חדשים
                        <br>
                        רכישת דירה / פיננסי / תכנון אדריכלי / עיצוב הבית
                        <br>
                        בניה ושיפוצים / בית חכם, וגם להכיר את הסביבה
                        <br>
                        העסקית
                    </p>
                    <div class="text-center">
                        <div style="position: relative;">
                            <div style="position: absolute; left: 36%; top: 1.5pc;">
                                <a class="btn"  data-toggle="modal" data-target="#exampleModalCenter"><img style="height: 31.03px; width: 31.03px;" src="../../../../../../assets/icons/play.png" alt=""></a>
                            </div>
                        </div>
                        <img style="width: 283.89px; margin-top: -32px;" class="text-center" src="../../../../../../assets/images/updates and benefits/home.png" alt="">
                    </div>
                    <div class="col-sm-12 text-center" style="    padding: 20px;">
                        <a [routerLink]="['/services/home']" style=" color: #35B0E5; border: 1px solid #35B0E5; border-radius: 5px; font-size: 12px; padding: 10px 25%;" class="btn" class="text-center">קבל עכשיו בחינם</a>
                    </div>
                </div>
        </div>
    </div>
    <div style="background-color: #F2F2F2; padding-bottom: 100px;">
        <app-contact-form></app-contact-form>
    </div>

    <!-- Modal Contact -->
    <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn" data-dismiss="modal"><img src="../../../../assets/icons/close.svg" alt=""></button>
                <div class="col-8 marginAuto text-center formTitle" >
                    <div style="margin: 15px 0px 50px 0px">
                        <img src="../../../../../../assets/icons/contact icon form.svg" alt=""><br>
                        <span style="font-size: 25px; color: #707070;">לקבל עכשיו</span>
                    </div>
                </div>
                <div>
                    <form action="">
                        <input style="width: 100% !important; margin-bottom: 20px; background-color: white; color:#949494" type="text" name="" id="1" placeholder="טלפון">
                        <input style="width: 100% !important; margin-bottom: 20px; background-color: white; color:#949494"  type="text" name="" id="2" placeholder="אימייל">
                        <input style="width: 100% !important; margin-bottom: 20px; background-color: white; color:#949494; margin-bottom: 40px;"  type="text" name="" id="3" placeholder="שם מלא">
                        <button class="btn btn-primary" style="width: 100%; color: white; margin:5px 0px; background-color: #35B0E5; padding: 1pc; font-size: 20px;"  type="submit">שלח</button>
                    </form>
                </div>
            </div>
        </div>
      </div>
    </div>

</div>

<div class="modal fade " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" style="border: none;background-color: transparent;">
        <div class="modal-body" style="background-color: transparent;">
            <div>
                <button class="btn"  data-dismiss="modal"><img src="../../../../assets/icons/white close.svg" class="whiteClose" alt=""></button>
            </div>
            <div style="padding: 10px 50px;">
                <iframe class="m_height"  src="https://www.youtube-nocookie.com/embed/5Peo-ivmupE"  style="width: 100%;  border: none; background-color: black; border-radius: 25px;"></iframe>
            </div>
        </div>
      </div>
    </div>
</div>