<div class="col-sm-12 col-md-12 container">
    <header class="header-logo col-sm-12 col-md-12">
        <img class="logo" src="../../../assets/icons/4.png" alt=""><br>
        <span class="slogan font45">מרכז דירות ונכסים </span>
        <hr>
        <span class="slogan font45" style="color: #B5B5B5;">מאגר דירות למכירה ולהשכרה בחינם</span>
        <hr>
        <div class="col-sm-4" style="position: relative; margin: 0px auto;">
            <div class="col-sm-12" style="position: absolute; top:0px ; text-align: center;">
                <a class="btn" onClick="console.log('pressed')"><img src="../../../../assets/icons/play.png" alt=""></a>
            </div>
        </div>
        <img class="bgImg" src="../../../../assets/images/mortgage/משכנתא-22.png" alt="">
    </header>

    <app-contact-form></app-contact-form>

    <section id="paragraph">
        <div class="col-sm-8 col-md-8 info">
          <p>השוו אונליין עשרות הצעות למימון קניית הדירה מבנקים וסוכני משכנתאות, וחסכו עשרות אלפי שקלים
            בריבית ההלוואה - השוו בקליק אחד
            </p>
            <p>
                חיסכון ממוצע   <strong>₪ 70,000</strong>
            </p>
            <p ><a class="btn" style="color: #35B0E5;">לחץ כאן </a>לייעוץ פיננסי חינם</p>
            <br>
        </div>
    </section>
</div>